body {
 font-family: Arial, Helvetica, sans-serif;
 display: flex;
 margin: 0;
}

.side-menu {
  color: #EAEAEA;
  width: 250px;
  height: 100vh;
  overflow: hidden;
  background-color: #262B35;
  border-radius: 0px 20px 20px 0px;
}

.side-menu hr {
  background-color: #B9C5FF;
  height: 2px;
  border: none;
  width: 200px;
  margin: 10px auto;
}

.logo {
  margin: 10px;
}

.user-block {
  padding: 14px 10px;
  width: 100%;
  background-color: #353E50;
  display: flex;
  align-items: center;
}

.user-photo {
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #707683;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.user-info {
  margin-left: 10px;
}

.user-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.user-role {
  font-size: 0.8rem;
}