body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #262B35;
  overflow: hidden;
  margin: 0;
}

* {
  box-sizing: border-box;
}

.login-container {
  /* background: rgba(0, 255, 13, 0.1); */
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
}

.login img {
  user-select: none;
  width: 200px;
  margin-bottom: 30px;
}

.login input {
  width: 340px;
  height: 45px;
  border-radius: 3px;
  outline: none;
  background-color: #353E50;
  border: none;
  border-bottom: 2px solid transparent;
  color: #eaeaea;
  padding: 0px 5px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.login input:focus {
  border-bottom: 2px solid #fff;
  transition: .3s ease;
}

.login input::-webkit-input-placeholder {
  color: #8D939C;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login input::-moz-placeholder {
  color: #8D939C;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login input:-moz-placeholder {
  color: #8D939C;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login input:-ms-input-placeholder {
  color: #8D939C;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

.login input:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.login input:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.login input:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.login input:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.button {
  border: none;
  user-select: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  width: 162px;
  height: 50px;
  background-color: #4C5B98;
}

a.button {
  text-decoration: none;
}

.reg-container {
  background: rgba(255, 0, 0, 0.1);
  width: 100vw;
  height: 100vh;
}