body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  /* background-color: #262b35; */
  color: #eaeaea;
  margin: 0;
  padding: 0;
}

* {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"] {
  width: 340px;
  height: 45px;
  border-radius: 3px;
  outline: none;
  background-color: #353e50;
  border: none;
  border-bottom: 2px solid transparent;
  color: #eaeaea;
  padding: 0px 5px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus {
  border-bottom: 2px solid #fff;
  transition: 0.3s ease;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder {
  color: #8d939c;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder {
  color: #8d939c;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:-moz-placeholder,
input[type="text"]:-moz-placeholder {
  color: #8d939c;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder {
  color: #8d939c;
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"].wrongInput,
input[type="password"].wrongInput {
  border-bottom: 2px solid #EB4C42;
}


.button {
  user-select: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-size: 1.5rem;
  width: 162px;
  height: 50px;
  background-color: #4c5b98;
  transition: background-color 0.1s;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: #5e6ca5;
}

.button:active {
  background-color: #eaeaea;
  color: #4c5b98;
}

/* Стили для недоступной кнопки */
.button.unavailable {
  background-color: #595D6C;
  color: #A5A5A5;
}

.button.unavailable:hover {
  cursor: not-allowed;
}

.button.unavailable:focus {
  background-color: #595D6C;
  color: #A5A5A5;
}

.button.unavailable:active {
  background-color: #595D6C;
  color: #A5A5A5;
}

/* Pop-up */
.pop-up-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.pop-up {
  -webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column;
  background-color: #353e50;
  width: 30%;
  border-radius: 3px;
  overflow: hidden;
}

.pop-up .top {
  background-color: #272E3B;
  height: 20px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.pop-up .message {
  padding: 15px 25px;
}

.pop-up .bottom {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  background-color: #272E3B;
}

.pop-up .bottom .button {
  font-size: 1.2rem;
  width: auto;
  height: auto;
  padding: 2px 10px;
  margin: 5px;
}

/* Анимации появления и исчезновения */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: .3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: .3s;
  animation-timing-function: ease;
}