@import url("/style/colors.css");

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: var(--basic-text-color1);
  margin: 0;
  padding: 0;
  display: flex;
}

* {
  box-sizing: border-box;
}

input[type="text"],
input[type="password"],
input[type="tel"] {
  width: 340px;
  height: 45px;
  border-radius: 3px;
  outline: none;
  background-color: var(--input-bg-color);
  border: none;
  border-bottom: 2px solid transparent;
  color: var(--basic-text-color1);
  padding: 0px 5px;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

input[type="text"]:focus,
input[type="password"]:focus,
input[type="tel"]:focus {
  border-bottom: 2px solid var(--input-underline-color);
  transition: 0.3s ease;
}

input[type="text"]::-webkit-input-placeholder,
input[type="password"]::-webkit-input-placeholder,
input[type="tel"]::-webkit-input-placeholder {
  color: var(--input-placeholder-color);
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]::-moz-placeholder,
input[type="password"]::-moz-placeholder,
input[type="tel"]::-moz-placeholder {
  color: var(--input-placeholder-color);
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:-moz-placeholder,
input[type="text"]:-moz-placeholder,
input[type="tel"]:-moz-placeholder {
  color: var(--input-placeholder-color);
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:-ms-input-placeholder,
input[type="password"]:-ms-input-placeholder,
input[type="tel"]:-ms-input-placeholder {
  color: var(--input-placeholder-color);
  font-size: 1.5rem;
  opacity: 1;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus::-webkit-input-placeholder,
input[type="password"]:focus::-webkit-input-placeholder,
input[type="tel"]:focus::-webkit-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus::-moz-placeholder,
input[type="password"]:focus::-moz-placeholder,
input[type="tel"]:focus::-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus:-moz-placeholder,
input[type="password"]:focus:-moz-placeholder,
input[type="tel"]:focus:-moz-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"]:focus:-ms-input-placeholder,
input[type="password"]:focus:-ms-input-placeholder,
input[type="tel"]:focus:-ms-input-placeholder {
  opacity: 0;
  transition: opacity 0.3s ease;
}

input[type="text"].wrongInput,
input[type="password"].wrongInput,
input[type="tel"].wrongInput {
  border-bottom: 2px solid var(--input-underline-wrong-color);
}

.button {
  user-select: none;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--basic-btn-text-color);
  font-size: 1.5rem;
  width: 162px;
  height: 50px;
  background-color: var(--basic-btn-bg-color);
  transition: background-color 0.1s;
  border: none;
}

.button:hover {
  cursor: pointer;
  background-color: var(--basic-btn-bg-color-hover);
}

.button:active {
  background-color: var(--basic-btn-bg-color-active);
  color: var(--basic-btn-bg-color);
}

/* Стили для недоступной кнопки */
.button.unavailable {
  background-color: var(--basic-btn-bg-color-unavailable);
  color: var(--basic-btn-text-color-unavailable);
  cursor: not-allowed;
}

/* Pop-up */
.pop-up-wrapper {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
}

.pop-up {
  -webkit-box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.8);
  box-shadow: 0px 0px 17px 5px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-flow: column;
  background-color: var(--pop-up-main-bg-color);
  width: 30%;
  border-radius: 3px;
  overflow: hidden;
}

.pop-up .top {
  background-color: var(--pop-up-top-bar-bg-color);
  height: 20px;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}

.pop-up .message {
  padding: 15px 25px;
}

.pop-up .bottom {
  flex-wrap: wrap;
  display: flex;
  justify-content: flex-end;
  background-color: var(--pop-up-bottom-bar-bg-color);
}

.pop-up .bottom .button {
  font-size: 1.2rem;
  width: auto;
  height: auto;
  padding: 2px 10px;
  margin: 5px;
}

/* Анимации появления и исчезновения */
@-webkit-keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
  animation-duration: 0.3s;
  animation-timing-function: ease;
  animation-fill-mode: both;
}

/* Preloader */
.preloader {
  position: relative;
  margin: 200px 50%;
  transform: translateX(-50%);
}

.dot {
  position: absolute;
  display: block;
  width: 14px;
  height: 14px;
  border-radius: 100%;
  background-color: white;
  animation: loader 0.5s linear infinite alternate;
}

.d1 {
  left: -18px;
  animation-delay: 0.2s;
}

.d2 {
  left: 0px;
  animation-delay: 0.4s;
}

.d3 {
  left: 18px;
  animation-delay: 0.6s;
}

@keyframes loader {
  from {
    top: 0px;
    background-color: white;
  }
  to {
    top: -10px;
    background-color: #4c5b98;
  }
}
