@import url("/style/colors.css");

body {
  overflow: hidden;
}

.auth-wrapper {
  background-color: var(--main-bg-color1);
  width: 100vw;
  transition: width 1s;
}

.screen {
  width: 100vw;
  height: 100vh;
  transition: margin-top 0.7s;
  padding-bottom: 20vh;
}

.screen.up {
  margin-top: -100vh; /*Класс, чтобы сменять экраны*/
}

/* ========================================== */
/*====================Вход====================*/
/* ========================================== */

.login-screen {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: flex;
  flex-direction: column;
  width: 340px;
  align-items: center;
}

.login img {
  user-select: none;
  width: 200px;
  margin-bottom: 30px;
}

.buttons {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

/* =========================================== */
/*=================Регистрация=================*/
/* =========================================== */
.reg-screen {
  display: flex;
  justify-content: space-evenly;
  width: 100vw;
}

.top-bar {
  display: flex;
  transition-duration: 1s;
  position: absolute;
  top: 0;
  width: 100vw;
  justify-content: space-between;
  padding: 10px;
  background-color: rgba(255, 99, 71, 0.397);
}

.button-back {
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.8rem;
  color: var(--btn-bg-color2);
  fill: var(--btn-bg-color2);
  opacity: 1;
  transition: opacity 0.7s;
}

.button-back.hidden {
  opacity: 0;
  cursor: default;
}

.button-back:hover {
  color: var(--btn-bg-color2-hover);
  fill: var(--btn-bg-color2-hover);
}

.button-back svg {
  padding-top: 3px;
  width: 30px;
}

.col {
  width: 45vw;
}

.col1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.col2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.registration {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
