.side-menu {
  flex-shrink: 0;
  color: #eaeaea;
  width: 250px;
  height: 100vh;
  overflow: hidden;
  background-color: #262b35;
  transition: width 1s;
}

.side-menu hr {
  background-color: #b9c5ff;
  height: 2px;
  border: none;
  width: 200px;
  margin: 10px auto;
}

.logo {
  margin: 10px;
}

.user-block {
  padding: 14px 10px;
  width: 100%;
  background-color: #353e50;
  display: flex;
  align-items: center;
}

.user-photo {
  user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 100%;
  background-color: #707683;
  overflow: hidden;
}

.user-photo img {
  width: 45px;
  user-select: none;
}

.user-info {
  margin-left: 10px;
}

.user-name {
  font-size: 1.1rem;
  font-weight: 500;
}

.user-role {
  font-size: 0.8rem;
}

.menu {
  list-style: none;
  padding: 0;
  user-select: none;
}

.menu-item {
  border-radius: 4px;
  max-width: 90%;
  padding: 4px;
  padding-left: 10px;
  margin: auto;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  cursor: pointer;
}

.menu-item:hover {
  background-color: #353e50;
}

.menu-item.current-menu-item {
  background-color: #4c5b98;
}

.menu-item img {
  width: 20px;
}

.menu-item span {
  width: 185px;
  word-wrap: break-word;
  display: block;
  font-size: 1.5rem;
  margin-left: 8px;
}

.side-menu ._anim {
  opacity: 0;
}

.main {
  background-color: #2C394B;
  width: calc(100vw - 250px);
  height: 100vh;
  overflow-x: hidden;
  overflow-y: scroll;
}

.sub-menu {
  display: flex;
  flex-wrap: wrap;
}

.submenu-item {
  display: inline-block;
  background-color: #545D6D;
  margin: 20px;
  padding: 10px;
}
.submenu-title {
  font-size: 1.2rem;
}
.submenu-description {
}

